.container {
	width:700px;
	margin: 0 auto;
}

.title {
	text-align: center;
	text-transform: uppercase;
}

table tr td {
	border: 1px solid #000;
}

td {
	padding: 5px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

.input-short {
	width: 100px;
}

.input-medium {
	width: 140px;
}

.form-bottom {
	margin: 0 auto;
	width: 500px;
}

.form-top {
	width: 500px;
	margin: 0 auto;
}

.underline {
	margin: 3px 0;
	padding-bottom: 3px;
}

.margin-bottom {
	margin-bottom: 5px;
}
.long {
	width: 285px;
	margin-right: 15px;
	float: left;
}

.short {
	width: 200px;
	display: inline-block;
}

.align-bottom {
	vertical-align: bottom;
}

.align-right {
	text-align: right;
}

.clear {
	clear: both;
}

.checkbox {
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #000;
	padding: 5px;
	margin: 0 5px 0 2px;
}

.no-style {
	border:none;
	border-bottom: 1px solid #000;
}

.receipt {
	width: 110px;
}
.submit {
	margin: 5px;
}

.input-to {
	width: 171px;
}

.input-received {
	width: 401px;
}

.input-rental {
	width: 379px;
}